.block_triptych {
    margin-bottom: 60px;
}
.block_triptych .boxwrap {
    position: relative;
    height: 0px;
    color: white;
    background-size: cover;
    background-position: 50% 50%;
}

.block_triptych .boxwrap .title {
    padding: 1em;
    margin: 0;
    text-shadow: 0px 2px 6px #000;
}

.block_triptych .boxwrap .text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0,0,0,.4);
}
