.block_triptych {
    margin: 30px auto;
}

.triptych-container {
}

.block_triptych .block-content .triptych_box {
    display: inline-block;
    position: relative;
    width: 32%;
    height: 480px;
    vertical-align: top;
    margin: 0 1%;
    border: 1px solid #eee;
    box-shadow: 0 0 7px #eee;
    font-size: 0;
    transition: all 0.3s;
}

.block_triptych .block-content a.triptych_box:hover {
    box-shadow: 0 0 12px 3px #a9a9a9;
}

.block_triptych .block-content .triptych_box:first-child {
    margin-left: 0;
}

.block_triptych .block-content .triptych_box:last-child {
    margin-right: 0;
}

.block_triptych .image {
    position: relative;
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.block_triptych .triptych_box .content {
    position: relative;
    padding: 30px;
    height: 230px;
    overflow-y: hidden;
    font-size: 16px;
}

.block_triptych .triptych_box .content .title {
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 1.75em;
}

.block_triptych .triptych_box .singlebutton {
    position: absolute;
    width: 100%;
    bottom: 40px;
    left: 0;
    text-align: center;
}

.block_triptych .triptych_box .singlebutton .boxlink {
    min-width: 120px;
    padding: 10px;
}
